---
layout: handbook-page-toc
title: What is Cognitive Bias
description: Learn about Cognitive Bias and how to facilitate Cognitive Bias exercise.
---

<%= partial("handbook/customer-success/solutions-architects/includes/navigation") %>

What is Cognitive Bias:

- <span class="colour" style="color:rgb(0, 0, 0)">Perception that occurs when people are processing and interpreting information in the world around them</span>
- <span class="colour" style="color:rgb(0, 0, 0)">Cognitive biases are often a result of your brain's attempt to simplify information processing</span>
- <span class="colour" style="color:rgb(0, 0, 0)">Our blindspots characterized by unconscious bias</span>
- <span class="colour" style="color:rgb(0, 0, 0)">It affects the decisions and judgments that they make</span>
- <span class="colour" style="color:rgb(0, 0, 0)">Common misconceptions about people: looks, personalities, mental models</span>

Please read this [list](https://www.verywellmind.com/cognitive-biases-distort-thinking-2794763) to understand the 10 most common types of cognitive biases.

How to facilitate Cognitive Bias exercise:

1. Create a survey to collect information & feedback from team members about their own bias. This can be potentially recognized by reading the Top 10 most common cognitive biases above. Feel free to use [this](https://docs.google.com/forms/d/e/1FAIpQLSczPQ8GhjRfLTjnUBj-Oio1JfUb5J4BqjzLKyQTYTaXv7vwiw/viewform).
1. In a small team meeting setting:
a. Summarize the results of the survey
b. Pick 2-3 examples for a role-playing exercise
c. Discuss the results & exercise
Example of the exercise [here](https://docs.google.com/presentation/d/1yGeNl-dGUFZM2I9RY-3J7ZdslaGw1Vu_xSSm0r2qHH8/edit?usp=sharing)

Step by Step guide to continuously focus discussions on cognitive bias & psychological safety

1. Pick a topic from this [list](https://www.linkedin.com/learning/overcoming-cognitive-bias/make-better-decisions-by-understanding-bias-2?u=2255073) to discuss during your team meetings at a regular cadence. Plan to dedicate 15 mins to such discussions. The discussion topic can revolve around :

- <span class="colour" style="color: rgb(60, 64, 67);"> Identifying with the bias & to provide some real-life examples</span>
- <span class="colour" style="color: rgb(60, 64, 67);">What actions can we take if we recognize we have that bias in order to create a psychologically safe environment.</span>

2. Make sure to pick the moderator & a topic for your next meeting. Use [this](https://docs.google.com/spreadsheets/d/14KhYgQxWDfZQD5YNbVIdOgbPPmJBlwPD6QwfhUHwOx8/edit#gid=0) to plan & schedule such discussions!
3. Please use this LinkedIn learning [course](https://www.linkedin.com/learning/overcoming-cognitive-bias/make-better-decisions-by-understanding-bias-2?u=2255073) to schedule deeper discussions around this for the interested audience.